{% extends "base.html"%}
{% load static %}
{% block content %}
<style>
  .card {
    height: 100%; 
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7); 
}
  
  .card:hover
  {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #8bc548;
    color: #fff    
  }
  .card:hover h2 {
    background-color: #8bc548;
    color: #fff
  }
  
  h2{
    color:#8bc548;
    font-weight: bold;
  }
   
</style>
<section class="about">
  <div class="container ftco-animate">       
    <div class="row">
      <div class="col-lg-6 align-self-baseline position-relative mt-5 mb-4">
        <img src="{% static 'images/clinica2.jpg' %}" class="img-fluid rounded custom-rounded mb-3" alt="" style="width: 100%; height: 100%;">        
      </div>    
      <div class="col-lg-6 pt-3 pt-lg-0 content mt-4 mb-5 mt-5">
        <h2>Quem somos</h2>
        <p class="me-4 " style="line-height: 2; font-size: 17px;">Dois amigos uniram suas experiências profissionais e pessoais no campo da mídia para oferecer soluções que atendessem às demandas do mercado.</p>      
        <p class="me-4" style="line-height: 2;font-size: 17px;">Leonardo Ribeiro e Ronaldo Carvalho fundaram a Smart Soluções Digitais em 10 de novembro de 2011. Inicialmente focada em mídia indoor, exibida em locais de grande concentração de pessoas, como academias e salões de beleza.</p>
        <p class="me-4" style="line-height: 2;font-size: 17px;">No ano seguinte, reconhecendo o potencial e o crescimento da mídia outdoor, lançaram a Smart Outdoor. Começaram com ênfase em Santa Maria/RS e expandiram para várias cidades do estado ao longo do tempo.</p>
        <p class="me-4" style="line-height: 2;font-size: 17px;">Essa evolução estratégica redirecionou a empresa, consolidando sua identidade com maior foco na mídia outdoor, embora mantendo a presença na mídia indoor.</p>
      </div>
    </div>
  </div>
 
  <div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card p-3">
                <h2 class="p-2">MISSÃO</h2>
                <p class="p-3" style="text-align: justify;">Nossa principal missão é satisfazer nossos parceiros e anunciantes entregando atendimento e produtos de excelência, superando sempre as expectativas contratadas, e criando relacionamentos de longo prazo. Estamos comprometidos com a inovação contínua para atender às necessidades em constante evolução do mercado.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <h2 class="p-2">VISÃO</h2>
                <p class="p-3" style="text-align: justify;">Atuar com ética, assertividade e personalidade no mercado, de forma que sejamos reconhecidos pela dedicação e comprometimento em todos os trabalhos realizados. Buscamos ampliar os horizontes na área de comunicação visual para assessorar cada vez mais nossos clientes. Nossa visão é liderar o setor de mídia outdoor com soluções inovadoras e eficazes.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <h2 class="p-2">VALORES</h2>
                <p class="p-3" style="text-align: justify;">Nossa Missão e Visão são direcionadas pelos valores que nos norteiam diariamente no mercado de trabalho. Esses valores são transmitidos e cultivados entre diretores, colaboradores, parceiros, clientes e amigos:</p>
                <ul>
                    <li>Humildade</li>
                    <li>Perseverança</li>
                    <li>Transparência</li>
                    <li>Foco</li>
                    <li>Ética</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</section><!-- End About Section -->


{% comment %} <section class="about">
  <div class="container ftco-animate">       
    <div class="row">
      <div class="col-lg-6 align-self-baseline position-relative mt-5 mb-4">
        <img src="{% static 'images/clinica2.jpeg' %}" class="img-fluid rounded custom-rounded" alt="" style="width: 100%; height: 100%;">        
      </div>
      <div class="col-lg-6 pt-3 pt-lg-0 content mt-5">
        <h3>Na Vanguarda da Estética e Ortodontia</h3>
      
        <p class="me-4" style="line-height: 1.7; font-size: 16px;">Entre em um ambiente acolhedor e moderno, onde cada sorriso é uma obra de arte. No nosso consultório odontológico, unimos conforto com tecnologia de última geração para oferecer a melhor atenção em estética e ortodontia. </p>
        <p class="me-4" style="line-height: 1.7; font-size: 16px;">Desde a primeira visita, nossa equipe dedicada está pronta para guiá-lo em cada passo do caminho rumo a um sorriso brilhante e saudável. Venha descobrir o poder de um sorriso transformador conosco hoje mesmo. O seu sorriso é a nossa prioridade.</p>
       
      </div>
    </div>
  </div>
</section><!-- End About Section --> {% endcomment %}

{% comment %} 
<section class="ftco-intro" style="background-image: url({% static 'images/bg_3.jpg' %});" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h2>We Provide Free Dental Care Consultation</h2>
        <p class="mb-0">Your Health is Our Top Priority with Comprehensive, Affordable medical.</p>
        <p></p>
      </div>
      <div class="col-md-3 d-flex align-items-center">
        <p class="mb-0"><a href="#" class="btn btn-odonto px-4 py-3">Free Consutation</a></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
      <div class="col-md-8 text-center heading-section ftco-animate">
        <span class="subheading">Testimonials</span>
        <h2 class="mb-4">Our Patients Says About Us</h2>
      </div>
    </div>
    <div class="row ftco-animate justify-content-center">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Racky Henderson</p>
                <span class="position">Farmer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Henry Dee</p>
                <span class="position">Businessman</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Mark Huff</p>
                <span class="position">Students</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'images/person_4.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Rodel Golez</p>
                <span class="position">Striper</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap d-flex">
              <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})">
              </div>
              <div class="text pl-4 bg-light">
                <span class="quote d-flex align-items-center justify-content-center">
                  <i class="icon-quote-left"></i>
                </span>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Ken Bosh</p>
                <span class="position">Manager</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}
{% endblock %}
{% block scrips%}
<script>
  document.addEventListener("DOMContentLoaded",function(){
    $('.nav-link').removeClass('active');
    $('#about-navlink').addClass('active');
   
  });
</script>
{% endblock %}